.App{
  background-color: beige;
}
.gameBoard{
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}
.card{
  width: 250px;
  height: 250px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}